body{
    margin :auto
}
#header{
    height: 60px;
    border: 2px solid green
}
#search{
    height: 400px;
    background-image: url('home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 400px;
}
#quicksearch{
    height: 500px;
    border:2px solid #c0c6ff
}
#logo{
    height:150px;
    width:150px;
    background-color: rgb(128, 100, 65);
    border-radius: 50%;
    margin:auto
}

